.body_backgorund 
{
    background-image:url("image.gif");
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    background-image:"image.gif";
    background-color: whitesmoke;
    border-radius: 100px;
    border-color: thistle;
    border-width: 9px;
    border-style: groove;
}

h3
{
	width: 1000px;
	background-color: rgb(0, 106, 133);
	display: inline-block;
    border-radius: 100px;
border-color: paleturquoise;
}
